{% extends "base.html" %}

{% block title %}
    Edit Profile
{% endblock %}

{% block content %}
    <h1>Edit Your Profile</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }}<br>{{ form.username }}</p>
        <p>{{ form.email.label }}<br>{{ form.email }}</p>
        <p>{{ form.current_password.label }}<br>{{ form.current_password }}</p>
        <p>{{ form.new_password.label }}<br>{{ form.new_password }} <small>{{ form.new_password.description }}</small></p>
        <p>{{ form.confirm_new_password.label }}<br>{{ form.confirm_new_password }}</p>
        <p>{{ form.submit }}</p>
    </form>
    <p><a href="{{ url_for('home') }}">Back to home</a></p>
{% endblock %}
